{% extends "base.html" %}
{% load static %}

{% block header %}
  <li>
    <div class="search-block">
    <form method="GET" action="{% url 'drivers_list' %}" class="search-form">
      <input type="text" class="search-input" name='search' placeholder="Поиск по ФИО" value="{{ request.GET.search }}" />
      <button type="submit" class="search-button"> Искать</button>
    </form>
  </div>
  </li>
  <li>
  <button class="header__button">Текущие услуги</button>
  </li> 
{% endblock header %}

{% block body %}
  <div class="main__container">
    <h2 class="main_title">Автострахование онлайн</h2>
  </div>
  </div>
  <section class="services">
    <div class="services__container">
      {% for driver in drivers_list %}
        <div class="service-item">
            <div class="service-item__image">
              <img src="{{driver.image}}" />
            </div>
            <h2 class="service-item__title">{{driver.name}}</h2>
            <p class="service-item__description">
              Стаж вождения: {{driver.experience}}
            </p>
            <a class="service-item__button" href="{% url 'driver_detail' driver.id %}">Подробнее</a >
        </div>
      
     {% endfor %}
    </div>
    
    
  </section>
{% endblock body %}


<!-- <div class="service-item">
        <div class="service-item__image">
          <img src="C:\Users\dimar\Downloads\Без названия.png" />
        </div>
        <h2 class="service-item__title">Иванов Петр Александрович</h2>
        <p class="service-item__description">
          Страхование гражданской ответственности.
        </p>
      </div> -->
      <!-- <div class="service-item">
        <div class="service-item__image">
          <img src="C:\Users\dimar\Downloads\kasko.svg" />
        </div>
        <h2 class="service-item__title">Зеленая карта</h2>
        <p class="service-item__description">
          Международное автострахование для поездок за границу.
        </p>
      </div>
      <div class="service-item">
        <h2 class="service-item__title">КАСКО</h2>
        <p class="service-item__description">
          Защитите свой автомобиль от любых рисков.
        </p>
      </div>
      <div class="service-item">
        <h2 class="service-item__title">ОСАГО</h2>
        <p class="service-item__description">
          Страхование гражданской ответственности.
        </p>
      </div>
      <div class="service-item">
        <h2 class="service-item__title">Зеленая карта</h2>
        <p class="service-item__description">
          Международное автострахование для поездок за границу.
        </p>
      </div> -->