{% extends "base.html" %}
{% load static %}

{% block header %}
  <li>
    <div class="search-block">
    <form method="GET" action="{% url 'drivers_list' %}" class="search-form">
      <input type="text" class="search-input" name='driver_name' placeholder="Поиск по ФИО" value="{{ request.GET.driver_name }}" />
      <button type="submit" class="search-button"> Искать</button>
    </form>
  </div>
  </li>
  <li>
  <a class="header__button" href="{% url 'insurance_detail' id_insurance %}" >Текущая страховка | Кол-во водителей: {{quantity_of_drivers}}</a>
  </li> 
{% endblock header %}

{% block body %}
  <div class="main__container">
    <h2 class="main_title">Автострахование онлайн</h2>
  </div>
  </div>
  <section class="services">
    <div class="services__container">
      {% for driver in drivers_list %}
        <div class="driver-item">
            <div class="driver-item__image">
              <img src="{{driver.image}}" />
            </div>
            <h2 class="driver-item__title">{{driver.name}}</h2>
            <p class="driver-item__description">
              Стаж вождения: {{driver.experience}}
            </p>
            <a class="driver-item__button" href="{% url 'driver_detail' driver.id %}">Подробнее</a >
        </div>
      
     {% endfor %}
    </div>
    
    
  </section>
{% endblock body %}


