{% extends "base.html" %} {% load static %} {% block body %}
<div class="main__container">
  <h2 class="main_title">Сведения о водителе</h2>
</div>
<div class="services">
  <div class="driver-details">
    <div class="driver-details__image">
      <img src="{{driver.image_url}}" alt="Driver Image" />
    </div>
    <div class="driver-details__info">
      <h2 class="driver-details__name">{{driver.name}}</h2>
      <p class="driver-details__experience">Стаж: {{driver.experience_text}}</p>
      <p class="driver-details__license">Категории прав: {{driver.license}}</p>
      <p class="driver-details__certificate_number">
        Номер водительского удостоверения: {{driver.certificate_number}}
      </p>
      <p class="driver-details__characteristics">{{driver.characteristics}}</p>
      <!-- <a href="index.html" class="driver-details__back-button">Вернуться</a> -->
    </div>
  </div>
</div>

{% endblock body %}
