{% extends "base.html" %} {% load static %} {% block body %}
<div class="main__container">
  <h2 class="main_title">Сведения о водителе</h2>
</div>
<div class="services">
  <div class="driver-details">
    <div class="driver-details__image">
      <img src="C:/Users/dimar/Downloads/5283021.png" alt="Driver Image" />
    </div>
    <div class="driver-details__info">
      <h2 class="driver-details__name">Радченко Дмитрий Сергеевич</h2>
      <p class="driver-details__experience">
        Опыт: более 10 лет вождения различных типов транспортных средств.
      </p>
      <p class="driver-details__license">Категории прав: A, B, C, D</p>
      <p class="driver-details__skills">
        Специализация: пассажирские перевозки, грузоперевозки, вождение в
        условиях сложных погодных условий.
      </p>
      <p class="driver-details__bio">
        Дмитрий Сергеевич – опытный водитель, работающий в различных областях
        автотранспортной индустрии. Имеет многолетний опыт работы с легковыми и
        грузовыми автомобилями, а также пассажирскими автобусами. Особое
        внимание уделяет безопасности движения и точности доставки.
      </p>
      <a href="index.html" class="driver-details__back-button">Вернуться</a>
    </div>
  </div>
</div>

{% endblock body %}
