{% extends "base.html" %} {% load static %} {% block body %}
<div class="main__container">
  <h2 class="main_title">Оформление</h2>
</div>
<div class="services">
  <div class="driver-details">
      <style>
    .toast-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
  }

  /* Скрытие уведомления */
  .toast-notification.hide {
    transform: translateX(100%);
    opacity: 0;
  }

  /* Внутреннее содержимое уведомления */
  .toast-content {
    display: flex;
    align-items: center;
  }

  /* Иконка уведомления */
  .toast-icon {
    font-size: 24px;
    color: #28a745; /* Зеленая галочка для активного статуса */
    margin-right: 10px;
  }

  /* Текст сообщения */
  .toast-message {
    display: flex;
    flex-direction: column;
  }


  /* Метка статуса */
  .status-label {
    font-size: 14px;
    font-weight: bond;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
  }

  /* Статус "Активен" */
  .status-label.active {
    background-color: #28a745;/*  Зеленый цвет для активного статуса */
  }

  </style>
    </head>
    <body>
      <div class="container">
        <h2 class="driver-details__name">{{ insurance.type}}</h2>
        <table>
            <tr>
              <th colspan="4" class="policy-info">
                Данные полиса
              </th>
              <th rowspan="2" colspan="3" class="policy-info">
                Срок действия
              </th>

              <th> Начало:</th>
              <th>Конец:</th>
            </tr>
            <tr> 
                <th>Номер:</th>
              <td>{{ insurance.certificate_number}}</td>
                 <th>Серия:</th>
                 <td>{{ insurance.certificate_series}}</td>
                 <td class='date-info'>{{ insurance.date_begin|date:"d-m-Y"}}</td>
                  <td class='date-info'>{{ insurance.date_end|date:"d-m-Y"}}</td>
            </tr>
            <tr>
              <th colspan="9" class="policy-info">
                Данные автомобиля
              </th> 
            </tr>
            <tr>
              <th>Марка:</th>
              <td>{{ insurance.car_brand}} </td>
              <th>Модель:</th>
              <td>{{ insurance.car_model}}</td>
              <td></td>
              <th>Номер:</th>
              <td>{{ insurance.car_number}}</td>
              <th>Регион:</th>
              <td>{{ insurance.car_region}}</td>
            </tr>   
        </table>
        <h2 class="driver-details__name">Список водителей</h2>
    
    {% for driver_insurance in drivers_insurance %}
    <div class="insurance-detail">
      
        <div class="driver-details__image">
          <img src="{{driver_insurance.driver.image_url}}" />
        </div>

        <div class="insurance-detail-driver__info">
          <div class="container-insurance-driver-name">
            <h2 class="driver-details__name">ФИО водителя</h2>
            <p class="driver-details__experience">{{driver_insurance.driver.name}}</p> 
          </div>
          <div class="container-insurance-driver-name">
            <h2 class="driver-details__name">Стаж вождения</h2>
            <p class="driver-details__experience">{{driver_insurance.driver.experience_text}}</p> 
          </div>
          <div class="container-insurance-driver-name">
            <h2 class="driver-details__name">Номер удостоверения</h2>
            <p class="driver-details__certificate_number">{{driver_insurance.driver.certificate_number}}</p>
            </div>
            {% if driver_insurance.owner == True %}
            <div class="toast-notification">
              <div class="toast-content">
                <span class="toast-icon">&#x2714;</span>
                <div class="toast-message">
                  <!-- <span class="owner-name">Иван Иванов</span> -->
                  <span class="status-label active">Владелец</span>
            </div>
            
          </div>
              
            </div>
            {% endif %}
        </div>
        
    </div>
    <hr />
      {% endfor %}
      <div class="insurance-detail-driver__info">
        {% if insurance.status != 'deleted' %}
              <form method="POST" action="{%  url 'update_insurance_status' insurance.id  %}">
                {% csrf_token %}
                    <button type="submit" name="action" value="delete" class="insurance-detail__button-delete">Удалить заказ</button>
              </form>
          {% endif %}
      
        {% if insurance.status != 'completed' %}
        <h2 class="driver-details__name">Средний стаж: рассчитывается...</h2>
        {% else %}
            <h2 class="driver-details__name">Средний стаж: {{ insurance.average_experience_text }} </h2>
        {% endif %}
      </div>
    </div>
  </body>
  </div>
</div>

<!-- Итог и кнопки оформления -->

{% endblock body %}

