{% extends "base.html" %} {% load static %} {% block body %}
<div class="main__container">
  <h2 class="main_title">Оформление</h2>
</div>
<div class="services">
    <div class="driver-details">
      <style>
        table {
          width: 100%;
          border-radius: 20px;
          border-collapse: separate; /* Важно для округления углов */
          border-spacing: 0;
          margin: 20px 0;
          font-size: 18px;
          /* text-align: left; */
          border-spacing: 10px;
        }
      
        th, td {
          padding: 12px 0px;
          border-radius: 10px;
          border: 1px solid #ddd;
          border: none; 
          width: auto;
         
        }
      
        th {
          /* background-color: #f2f2f2; */
          font-weight: bold;
          color: #333;
        }
        td {
          /* background-color: #f2f2f2; */
          font-weight: normal;
          color:#666;
          text-align:left;
        }
      
        .policy-info {
          background-color: #002f87; /* Цвет как у Ингосстраха */
          color: white;
          font-weight: bold;
          text-align: center;
        }
        
        .date-info {
          text-align:right;
          vertical-align:top;
          padding: 0;

        }
  
        table tr th:first-child, table tr td:first-child {
          padding-left: 20px;
        }
      
        /* Дополнительные стили для текста и заголовков */
    
         th {
          text-align: right;
        }

        .request-detail 
        {
          gap: 40px;
          display: flex;
          flex-wrap: wrap;
        }
        .container-request-driver-name
        {
          max-width: 240px;
        }
      </style>
    </head>
    <body>
      <div class="container">
        <h2 class="driver-details__name">{{requests.type}}</h2>
        <table>
            <tr>
              <th colspan="4" class="policy-info">
                Данные полиса
              </th>
              <th rowspan="2" colspan="3" class="policy-info">
                Срок действия
              </th>
              <th> Начало:</th>
              <th>Конец:</th>
            </tr>
            <tr> 
                <th>Номер:</th>
              <td>{{requests.certificate_number}}</td>
                 <th>Серия:</th>
                 <td>{{requests.certificate_series}}</td>
                 <td class='date-info'>{{requests.date_begin}}</td>
                  <td class='date-info'>{{requests.date_end}}</td>
            </tr>
            <tr>
              <th colspan="9" class="policy-info">
                Данные автомобиля
              </th> 
            </tr>
            <tr>
              <th>Марка:</th>
              <td>{{requests.car_brand}} </td>
              <th>Модель:</th>
              <td>{{requests.car_model}}</td>
              <td></td>
              <th>Номер:</th>
              <td>{{requests.car_number}}</td>
              <th>Регион:</th>
              <td>{{requests.car_region}}</td>
            </tr>   
        </table>
        <h2 class="driver-details__name">Список водителей</h2>
    <div >
    {% for driver in drivers_request %}
    <div class="request-detail">
      
        <div class="driver-details__image">
          <img src="{{driver.image}}" />
        </div>
        <div class="container-request-driver-name">
          <h2 class="driver-details__name">ФИО водителя</h2>
          <p class="driver-details__experience">{{ driver.name }}</p>
        </div>
        <div>
          <h2 class="driver-details__name">Номер удостоверения </h2>
          <p class="driver-details__certificate_number">{{ driver.certificate_number }}</p>
        </div>
    </div>
    <hr />
    {% endfor %}
  </div>
      </div>
    </body>
  </div>
</div>

<!-- Итог и кнопки оформления -->

{% endblock body %}

<!-- Управление количеством
      <div class="col-lg-3 col-md-4 col-sm-6 basket-item-quantity">
        <div class="input-group">
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm decrement"
              data-basket-id=""
              data-basket-change-url=""
            >
              {% csrf_token %}
              -
            </button>
          </span>
          <input
            type="text"
            class="form-control number"
            value="{{ basket.quantity }}"
            readonly
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm increment"
              data-basket-id=""
              data-basket-change-url=""
            >
              {% csrf_token %}
              +
            </button>
          </span>
        </div>
      </div> -->

      <!-- Общая сумма по товару
      <div class="col-lg-2 col-md-2 col-sm-6 basket-item-total">
        <p class="item-total"><strong>{{ basket.dishes_price }} ₽</strong></p>
      </div> -->

      <!-- Удалить товар из корзины
      <div class="col-lg-1 col-md-1 col-sm-2 basket-item-remove">
        <a href="" class="remove-from-basket" data-basket-id="">
          {% csrf_token %}
          <img src="" alt="Удалить" class="delete-icon" />
        </a>
      </div> -->

<!-- <div class="basket-header">
    <h2>ОСАГОewrtyhyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</h2>
    <div class="basket-summary row">
        <div class="col-6">
          <h4>Итого: <strong>{{ total_price }} ₽</strong></h4>
        </div>
        <div class="col-6 text-right">
           <button type="button" class="btn btn-primary btn-lg">
            Оформить заказ
          </button>
        </div> 
  </div>  -->

<!-- <div class="basket-summary row">
    <div class="col-6">
      <h4>Итого: <strong>{{ total_price }} ₽</strong></h4>
    </div>
    <div class="col-6 text-right">
      <button type="button" class="search-button">
        Оформить заказ
      </button>
    </div>
  </div> -->
<!-- Начало цикла по элементам корзины -->


<!-- Итого по корзине -->
